#todos {
  width: 100%;
  height: 100%;
}

header {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 30px;
  background: #ffffff;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.1);
}

.nav {
  position: absolute;
  top: 100%;
  width: 100%;
  padding: 1rem 0 1rem 1rem;
  background: #ffffff;
  transition: transform 0.3s ease-in-out;
  transform: scale(1, 0);
  transform-origin: top;
}

.navbar-toggle:checked ~ .nav {
  transform: scale(1, 1);
}

.navbar-toggle-label {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 7.5%;
  display: flex;
  align-items: center;
}

.hamburger {
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  width: 30px;
  height: 3px;
  background: #267b98;
}


.hamburger::before,
.hamburger::after {
  position: absolute;
  content: "";
}

.hamburger::before {
  top: -8px;
}

.hamburger::after {
  top: 8px;
}

.navbar-toggle {
  visibility: hidden;
  position: absolute;
}

.container {
  margin-top: 3.5rem;
}

.todo-list {
  width: 85%;
  margin: 8rem auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto 60px;
  grid-template-areas: 
    ". center center center ."
    ". bottom bottom bottom .";
}

ul {
  grid-area: center;
  padding: 0;
}

.page {
  margin-top: 2rem;
  grid-area: bottom;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}



.logout-form {
  margin-right: 1rem;
  margin-top: 1rem;
}

.checked {
  display: inline;
  margin: 0;
}

.checked input {
  display: inline;
  width: auto;
}

.todo-items {
  display: grid;
  /* grid-template-columns: minmax(200px, 300px) minmax(200px, 300px); */
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 1.5rem;
}

.todo-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #ccc;
}

.new-todos,
.edit-todos {
  width: 10rem;
}

.edit-checked-box,
.navbar-toggle {
  display: inline;
  width: auto;
}

@media screen and (min-width: 600px) {
  .nav {
    all: unset;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logout-form {
    margin: 0;
    margin-right: 1rem;
  }

  .new-todo-button {
    margin-left: 1rem;
  }

  .navbar-toggle-label {
    display: none;
  }
}