{% extends "public/main.html" %}

{% block content %}

  <div id="login">
    <div class="container">
      {% include "public/message.html" %}
      <div class="login-wrapper">
          <h1 class="title">Log In</h1>
          <form class="login-form" action="/users/login" method="POST">
            <label for="email" style="display: block;">Email:</label>
            <input type="text" id="email" name="email" style="margin-top: 5px;" required>
            <br>
            <label for="password" style="display: block; margin-top: 10px;">Password:</label>
            <input type="password" id="password" name="password" style="margin-top: 5px;" required>
            <br>
            <button type="submit" style="margin-top: 10px;">Log In</button>
          </form>

          <div class="foot-form">
            <form action="/oauth2/facebook/login" method="GET">
              <button type="submit">Log In with Facebook</button>
            
            </form>
            
            <p>No account? <a href="/users/register">Register</a></p>

          </div>
      </div>
    </div>
  </div>

  <style>
    .flash-message-info {
      text-align: center;
    }
  </style>

{% endblock %}