{% extends "public/main.html" %}

{% block content %}
  {% if message %}
    <div class="flash-message-{{ message.category }}">
      {% if message.category in ['success', 'info'] %}
      <p style="color: mediumblue ;">{{ message.message }}</p>
      {% else %}
      <p style="color: red;">{{ message.message }}</p>
      {% endif %}
    </div>
  {% endif %}

  <form action="/todos/" method="POST">
    <input type="text" placeholder="請輸入 todo 內容" name="name">
    <button type="submit">Create</button>
  </form>

{% endblock %}